<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../src/output.css" rel="stylesheet">
    <title>MON SITE</title>
</head>

<body class="bg-gray-50">
    <nav
        class="nav md:h-[11vh] h-[13vh] bg-green-800 flex md:justify-between z-10 justify-center items-center pl-4 pr-4 fixed top-[89%] md:top-0 w-full">
        <div
            class="lala md:w-[8%] md:h-[10vh] hidden w-[35%] h-[22vh] shadow-md shadow-white md:flex items-center bg-green-800 justify-center  flex-col rounded-[50%]">
            <p class="md:text-3xl text-2xl text-white font-black  -mb-1">fast</p>
            <div class="flex justify-end w-[80%] md:w-[80%]">
                <!-- ///////// ---logo--- \\\\\\\\\-->
                <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <g fill="#fff" fill-rule="evenodd">
                        <path
                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="#fff" fill-rule="nonzero"
                            d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                    </g>
                </svg>

                <p class="md:text-base text-xl text-white font-black">express</p>
            </div>
        </div>
        <div class="flex justify-center md:gap-4 gap-10 md:w-[30%] w-[98%] h-[12vh]">
            <a href="/views/client/acceuil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// home \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path id="ic" fill="black"
                        d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1" />
                </svg>
            </a>
            <a href=""
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- box -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M5 21q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675V19q0 .825-.587 1.413T19 21zm.4-15h13.2l-.85-1H6.25zM16 8H8v6.375q0 .575.475.863t.975.037L12 14l2.55 1.275q.5.25.975-.038t.475-.862z" />
                </svg>
            </a>
            <a href="/views/client/panier.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- ///////// cart \\\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2" />
                </svg>
            </a>
            <a href="/views/client/order.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">

                <!-- //////// oder \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff" fill-rule="evenodd"
                        d="M8.25 7.013V6a3.75 3.75 0 1 1 7.5 0v1.013c1.297.037 2.087.17 2.692.667c.83.68 1.06 1.834 1.523 4.143l.6 3c.664 3.32.996 4.98.096 6.079S18.067 22 14.68 22H9.32c-3.386 0-5.08 0-5.98-1.098s-.568-2.758.096-6.079l.6-3c.462-2.309.693-3.463 1.522-4.143c.606-.496 1.396-.63 2.693-.667M9.75 6a2.25 2.25 0 0 1 4.5 0v1h-4.5zM15 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-5-1a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <a href="/views/client/profil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// account \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                </svg>
            </a>
        </div>
        <div></div>
    </nav>
    <nav
        class="papa md:static w-full fixed top-0 flex z-10 items-center md:gap-4 md:pl-5 pl-2 md:pt-28 mb-8 md:h-40 h-20 md:bg-transparent bg-green-800">
        <div
            class="md:w-[4%] w-[17%] h-[8vh] border border-gray-500 rounded-[50%] bg-gray-100 md:bg-black/20 flex justify-center items-center">
            <!-- //////// account \\\\\\\ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#707070"
                    d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
            </svg>
        </div>
        <div class=" md:w-[20%] w-[37%] h-[9vh] md:pl-5 pl-3 md:bg-gray-400 flex flex-col justify-center rounded-2xl">
            <p class="pnam font-bold text-lg md:text-black text-white"></p>
            <p class="pbien md:text-black text-white"></p>
        </div>
        <div class="marke w-[70%] h-[8vh] flex gap-2  justify-end items-center md:pr-0 pr-2">
            <p id="pays"><svg  class=" md:block hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#e61010" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>
                <svg class="md:hidden block" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>

            </p>
            <p id="local" class="md:text-black text-white font-bold"></p>
            <p id="locale" class="md:text-black text-white font-bold"></p>
        </div>
    </nav>
    <section class="flex justify-center z-0 items-center relative md:mt-0 mt-28 mb-6">
        <input type="search" name="search" id="search" placeholder="Chercher votre produit"
            class="border border-gray-700 md:w-[30%] w-[84%] h-[9vh] rounded-4xl p-6">
        <!-- ///////// search \\\\\\ -->
        <svg id="srch" class="absolute md:right-[36%] right-[13%] hover:cursor-pointer"
            xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path fill="#000"
                d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14" />
        </svg>
    </section>
    <div
        class="flex md:justify-center z-0 items-center w-full overflow-x-auto pl-4 md:pl-0 md:pr-0 pr-3 no-scrollbar md:gap-7 gap-3 mb-11">
        <div id="bntp1"
            class="md:w-[4%] w-[35%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--///// plat \\\\\-->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 512 512">
                <path d="M0 0h512v512H0z" fill="none" />
                <path fill="#404040"
                    d="M368 128h.09m111.46-32h-91.06l8.92-35.66l38.32-13.05c8.15-2.77 13-11.43 10.65-19.71a16 16 0 0 0-20.54-10.73l-47 16a16 16 0 0 0-10.36 11.27L355.51 96H224.45c-8.61 0-16 6.62-16.43 15.23A16 16 0 0 0 224 128h2.75l1 8.66A8.3 8.3 0 0 0 236 144c39 0 73.66 10.9 100.12 31.52A121.9 121.9 0 0 1 371 218.07a123.4 123.4 0 0 1 10.12 29.51a7.83 7.83 0 0 0 3.29 4.88a72 72 0 0 1 26.38 86.43a7.92 7.92 0 0 0-.15 5.53A96 96 0 0 1 416 376c0 22.34-7.6 43.63-21.4 59.95a80.1 80.1 0 0 1-28.78 21.67a8 8 0 0 0-4.21 4.37a108.2 108.2 0 0 1-17.37 29.86a2.5 2.5 0 0 0 1.9 4.11h49.21a48.22 48.22 0 0 0 47.85-44.14L477.4 128h2.6a16 16 0 0 0 16-16.77c-.42-8.61-7.84-15.23-16.45-15.23" />
                <path fill="#404040"
                    d="M108.69 320a23.87 23.87 0 0 1 17 7l15.51 15.51a4 4 0 0 0 5.66 0L162.34 327a23.87 23.87 0 0 1 17-7h196.58a8 8 0 0 0 8.08-7.92V312a40.07 40.07 0 0 0-32-39.2c-.82-29.69-13-54.54-35.51-72C295.67 184.56 267.85 176 236 176h-72c-68.22 0-114.43 38.77-116 96.8A40.07 40.07 0 0 0 16 312a8 8 0 0 0 8 8Zm77.25 32a8 8 0 0 0-5.66 2.34l-22.14 22.15a20 20 0 0 1-28.28 0l-22.14-22.15a8 8 0 0 0-5.66-2.34h-69.4a15.93 15.93 0 0 0-15.76 13.17A65 65 0 0 0 16 376c0 30.59 21.13 55.51 47.26 56c2.43 15.12 8.31 28.78 17.16 39.47C93.51 487.28 112.54 496 134 496h132c21.46 0 40.49-8.72 53.58-24.55c8.85-10.69 14.73-24.35 17.16-39.47c26.13-.47 47.26-25.39 47.26-56a65 65 0 0 0-.9-10.83A15.93 15.93 0 0 0 367.34 352Z" />
            </svg>
            <p class="md:hidden block font-bold text-lg">Restaurant</p>
        </div>
        <div id="bntp2"
            class="md:w-[4%] w-[33%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--////// phone \\\\\-->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#404040"
                    d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1m-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m4.5-4H7V4h9z" />
            </svg>
            <p class="md:hidden block font-bold text-lg">Telephone</p>
        </div>
        <div id="bntp3"
            class="md:w-[4%] w-[30%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--///// t-shirt \\\\-->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <g fill="none" fill-rule="evenodd">
                    <path
                        d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                    <path fill="#404040"
                        d="M5.707 3.879A3 3 0 0 1 7.828 3c.79 0 1.948-.22 2.302.711a2.001 2.001 0 0 0 3.74 0c.354-.93 1.513-.71 2.302-.71a3 3 0 0 1 2.12.878L22 7.586a2 2 0 0 1 0 2.828l-1.478 1.478c-.52.52-1.246.689-1.9.526l.272 5.432A3 3 0 0 1 15.898 21H8.102a3 3 0 0 1-2.996-3.15l.272-5.432a2 2 0 0 1-1.9-.526L2 10.414a2 2 0 0 1 0-2.828z" />
                </g>
            </svg>
            <p class="md:hidden block font-bold text-lg">Les habits</p>
        </div>
        <div id="bntp4"
            class="md:w-[4%] w-[36%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--///// pharmacie \\\\\-->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 50 50">
                <path d="M0 0h50v50H0z" fill="none" />
                <path fill="#404040"
                    d="M39.352 17H10.4C5.23 17 1 20.64 1 25.5S5.23 34 10.4 34h28.952c5.168 0 9.398-3.641 9.398-8.5c0-4.86-4.23-8.5-9.398-8.5m.003 15H25V19h14.355c3.812 0 6.934 2.915 6.934 6.5S43.168 32 39.355 32" />
            </svg>
            <p class="md:hidden block font-bold text-lg">Pharmacie</p>
        </div>
        <div id="bntp5"
            class="md:w-[4%] w-[28%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--//// watch \\\\-->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#404040"
                    d="M10.5 4h3zm0 16h3zm0 2q-.65 0-1.187-.387t-.738-1.038L8 18.65q-.15-.5-.462-1.012t-.813-1.063q-.85-.925-1.287-2.1T5 12q0-1.275.438-2.45t1.287-2.125q.5-.575.813-1.075t.462-1l.575-1.925q.2-.65.738-1.037T10.5 2h3q.65 0 1.188.388t.737 1.037L16 5.35q.15.5.463 1.013t.812 1.062q.85.925 1.288 2.1T19 12q0 1.275-.437 2.45t-1.288 2.125q-.5.575-.812 1.075t-.463 1l-.575 1.925q-.2.65-.737 1.038T13.5 22zm5.038-6.462Q17 14.075 17 12t-1.463-3.537T12 7T8.463 8.463T7 12t1.463 3.538T12 17t3.538-1.463M10.1 5.25q.5-.125.963-.2T12 4.975t.938.075t.962.2L13.5 4h-3zM10.5 20h3l.4-1.25q-.5.125-.962.188T12 19t-.937-.062t-.963-.188z" />
            </svg>
            <p class="md:hidden block font-bold text-lg">Montre</p>
        </div>
        <div id="bntp6"
            class="md:w-[4%] w-[25%] h-[5vh] md:h-[8vh] shrink-0 rounded-2xl hover:bg-blue-200 border snap-center border-gray-500 md:rounded-[50%] bg-black/20 flex justify-center items-center cursor-pointer">
            <!--//// all \\\\ -->
            <svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#404040" stroke="#b0b0b0" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"
                    d="M8.4 4H5.6A1.6 1.6 0 0 0 4 5.6v2.8A1.6 1.6 0 0 0 5.6 10h2.8A1.6 1.6 0 0 0 10 8.4V5.6A1.6 1.6 0 0 0 8.4 4Zm0 10H5.6A1.6 1.6 0 0 0 4 15.6v2.8A1.6 1.6 0 0 0 5.6 20h2.8a1.6 1.6 0 0 0 1.6-1.6v-2.8A1.6 1.6 0 0 0 8.4 14Zm10-10h-2.8A1.6 1.6 0 0 0 14 5.6v2.8a1.6 1.6 0 0 0 1.6 1.6h2.8A1.6 1.6 0 0 0 20 8.4V5.6A1.6 1.6 0 0 0 18.4 4Zm0 10h-2.8a1.6 1.6 0 0 0-1.6 1.6v2.8a1.6 1.6 0 0 0 1.6 1.6h2.8a1.6 1.6 0 0 0 1.6-1.6v-2.8a1.6 1.6 0 0 0-1.6-1.6Z" />
            </svg>
            <p class="md:hidden block font-bold text-lg">Tous</p>
        </div>

    </div>

    <div id="feneprod" class="w-full hidden fixed top-0 left-0 h-screen bg-gray-500 justify-center items-center z-50">
        <div class="lala bg-white rounded-xl p-20 max-w-[600px] w-[90%] max-h-[90vh] overflow-y-auto relative shadow">
            <button id="clause" class="absolute top-[4%] right-[5%] text-4xl cursor-pointer ">&times;</button>
            <img src="" alt="produit" id="mdimage">
            <div class="flex flex-col">
                <h2 id="mdtitle" class="font-bold text-lg"> </h2>
                <p id="mdprice" class="font-bold text-lg"></p>
                <p id="mdmaison" class="font-bold text-lg"></p>
                <p id="mddescr"></p>
            </div>
        </div>
    </div>
    <section id="produits"
        class="grid md:grid-cols-5 z-0 grid-cols-2 md:grid-rows-5 grid-rows-13 h-auto md:gap-10 gap-3 pl-1  md:pl-5 pb-28">
    </section>
    <div id="envv" class="lala md:w-[30%] w-[80%] md:ml-96 ml-7 h-[16vh] bg-white rounded-xl border border-gray-100 fixed md:bottom-7 bottom-20 hidden items-center z-50 p-3 animate-bounce-short">
        <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
            <svg class="w-6 h-6" fill="none"stroke="currentColor" viewBox="0 0 24 24" xmls="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg>
        </div>
        <div class=" flex-1">
            <p class="md:text-sm text-lg font-semibold text-gray-900">Produit ajoute !</p>
            <p class="md:text-xs text-base text-gray-500 ">L'article a ete ajoute a votre panier.</p>
        </div>
    </div>








    <script type="module" src="/script/client/acceuil.js"></script>
</body>

</html>