<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../src/output.css" rel="stylesheet">
    <title>MON SITE</title>
</head>

<body class="bg-gray-50">

    <nav
        class="nav md:h-[11vh] h-[13vh] bg-green-800 flex md:justify-between z-0 justify-center items-center pl-4 pr-4 fixed top-[89%] md:top-0 w-full">
        <div
            class="lala md:w-[8%] md:h-[10vh] hidden w-[35%] h-[22vh] shadow-md shadow-white md:flex items-center bg-green-800 justify-center  flex-col rounded-[50%]">
            <p class="md:text-3xl text-2xl text-white font-black  -mb-1">fast</p>
            <div class="flex justify-end w-[80%] md:w-[80%]">
                <!-- ///////// ---logo--- \\\\\\\\\-->
                <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <g fill="#fff" fill-rule="evenodd">
                        <path
                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="#fff" fill-rule="nonzero"
                            d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                    </g>
                </svg>

                <p class="md:text-base text-xl text-white font-black">express</p>
            </div>
        </div>
        <div class="flex justify-center md:gap-4 gap-10 md:w-[30%] w-[98%] h-[12vh]">
            <a href="/views/client/acceuil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// home \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="white"
                        d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1" />
                </svg>
            </a>
            <a href=""
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- box -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M5 21q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675V19q0 .825-.587 1.413T19 21zm.4-15h13.2l-.85-1H6.25zM16 8H8v6.375q0 .575.475.863t.975.037L12 14l2.55 1.275q.5.25.975-.038t.475-.862z" />
                </svg>
            </a>
            <a href=""
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- ///////// cart \\\\\\\\ -->
                <svg class="icc dodo" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path id="ic" fill="black"
                        d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2" />
                </svg>
            </a>
            <a href="/views/client/order.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">

                <!-- //////// oder \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff" fill-rule="evenodd"
                        d="M8.25 7.013V6a3.75 3.75 0 1 1 7.5 0v1.013c1.297.037 2.087.17 2.692.667c.83.68 1.06 1.834 1.523 4.143l.6 3c.664 3.32.996 4.98.096 6.079S18.067 22 14.68 22H9.32c-3.386 0-5.08 0-5.98-1.098s-.568-2.758.096-6.079l.6-3c.462-2.309.693-3.463 1.522-4.143c.606-.496 1.396-.63 2.693-.667M9.75 6a2.25 2.25 0 0 1 4.5 0v1h-4.5zM15 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-5-1a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <a href="/views/client/profil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// account \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                </svg>
            </a>
        </div>
        <div></div>
    </nav>
    <nav
        class="nav md:static w-full fixed top-0 md:hidden flex z-10 items-center md:gap-4 md:pl-5 pl-2 md:pt-28 mb-8 md:h-40 h-20 md:bg-transparent bg-green-800">
        <div
            class=" md:w-[4%] w-[17%] h-[8vh] border border-gray-500 rounded-[50%] bg-gray-100 md:bg-black/20 flex justify-center items-center">
            <!-- //////// account \\\\\\\ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#707070"
                    d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
            </svg>
        </div>
        <div class=" md:w-[20%] w-[37%] h-[9vh] md:pl-5 pl-3 md:bg-gray-400 flex flex-col justify-center rounded-2xl">
            <p class="pnam font-bold text-lg md:text-black text-white"></p>
            <p class="pbien md:text-black text-white"></p>
        </div>
        <div class="w-[70%] h-[8vh] flex gap-2  justify-end items-center md:pr-0 pr-2">
            <p id="pays"><svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#e61010" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>
                <svg class="md:hidden block" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>

            </p>
            <p id="local" class="md:text-black text-white font-bold"></p>
            <p id="locale" class="md:text-black text-white font-bold"></p>
        </div>
    </nav>
    <section class="md:mt-22 mt-28 flex md:flex-row flex-col gap-20 w-full z-0 md:pl-10 pl-1">
        <section class=" flex flex-col md:ml-5 ml-1 md:w-[50%] w-full">
            <div class=" flex justify-between w-[95%] mb-6">
                <div>
                    <h1 class="font-bold md:text-xl text-2xl mb-2">Mon panier :(<span class="nom">0</span>)</h1>
                    <p class="md:block hidden">Voici les artticules que vous avez selectionnes</p>
                </div>
                <button id="vide" class="text-red-700 font-bold cursor-pointer flex  md:mt-4"><svg
                        class="mt-1 md:block hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="#c4051b"
                            d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-6.287 10.713Q11 16.425 11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17t.713-.288m4 0Q15 16.426 15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17t.713-.288M7 6v13z" />
                    </svg>
                    <p class="text-lg">Vider le panier</p>
                </button>
            </div>
            <div id="produits"
                class="lala rounded-xl w-[95%] h-[60vh] bg-white shadow-md mb-4 p-3 overflow-y-auto no-scrollbar"></div>
            <button type="submit" id="subm"
                class="bg-green-700 md:w-[47%] w-[60%] text-white font-bold md:ml-32 ml-16 text-lg cursor-pointer h-[7vh] rounded-xl">
                prix total de
                produit</button>
        </section>
        <section
            class="lala bg-white md:w-[34%] w-[98%] flex md:mb-0 mb-20 flex-col gap-3 md:h-[83vh] h-[90vh] shadow-md rounded-xl p-4">
            <div class=" h-[13vh]">
                <h1 class="font-bold mb-2 md:text-lg text-2xl">Address de livraison</h1>
                <div id="hhh" class="flex gap-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="green"
                            d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7" />
                    </svg>

                    <p class="lll w-[65%] md:text-sm text-lg"></p>
                    <p class="change text-green-700 font-bold cursor-pointer md:text-base text-lg">changer</p>
                </div>
            </div>
            <div id="hhhh" class="border-t-2 mt-2 border-t-gray-200">
                <h1 class="font-bold mb-2 mt-1 md:text-lg text-2xl">Resume de la commande</h1>
                <div class="flex md:gap-72 gap-60 mb-1">
                    <p class="text-xl md:text-base">sous-total</p>
                    <p class="flex"><span class="total md:text-base text-xl">0</span><span
                            class="md:text-base text-lg">$</span></p>
                </div>
                <div class="flex md:gap-60 gap-44 mb-4">
                    <p class="text-xl md:text-base">Frais de livraison</p>
                    <p class="flex"><span class="dollard md:text-base text-xl"></span><span
                            class="md:text-base text-lg">$</span></p>
                </div>

                <div class="border-b-2 border-t-2 border-gray-200 h-[8vh] flex items-center">
                    <p class="flex md:gap-[20em] gap-[17em]"><span
                            class="text-2xl md:text-xl text-green-700 font-bold">Total</span><span
                            class="accc text-xl text-green-700 font-bold">0</span></p>
                </div>
            </div>
            <div id="chan" class="hidden flex-col relative gap-2 pl-14 pr-14">
                <p class="markos text-4xl text-red-700 absolute z-0 right-10 -top-7 cursor-pointer">&times;</p>
                <label for="" class="font-bold text-lg">Ville</label>
                <input type="text" name="location" id="vil" class="border pl-4 h-[5vh] rounded-xl">
                <label for="" class="font-bold text-lg">Quartier</label>
                <input type="text" name="" id="qua" class="border pl-4 rounded-xl h-[5vh]">
                <button id="vq"
                    class="text-white bg-green-800 border text-lg cursor-pointer md:w-[45%] w-[55%] h-[5vh] md:ml-20 ml-14 rounded-xl">Valide</button>
            </div>
            <div class="flex flex-col gap-3">
                <h1 class="font-bold mb-2 md:text-lg text-2xl">Methode de paiement</h1>
                <div class="h-[10vh] rounded-xl border-2 border-gray-200 flex gap-4 p-2">
                    <!-- ///////// ---logo--- \\\\\\\\\-->
                    <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <g fill="#fff" fill-rule="evenodd">
                            <path
                                d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="green" fill-rule="nonzero"
                                d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                        </g>
                    </svg>
                    <div class="md:w-[75%] w-[80%]">
                        <p class="font-bold md:text-sm text-lg">Paiment a la livraison</p>
                        <p class="md:text-sm text-lg">Payez en especes a la reception</p>
                    </div>
                    <input type="radio" name="paiement" id="personne" class="cursor-pointer accent-green-600">

                </div>
                <div class="h-[10vh] rounded-xl border-2 border-gray-200 flex gap-4 p-2">
                    <!--////// phone \\\\\-->
                    <svg class="block" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="#404040"
                            d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1m-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m4.5-4H7V4h9z" />
                    </svg>
                    <div class="w-[75%] md:mr-0 mr-2">
                        <p class="font-bold md:text-sm text-lg ">Mobile Money</p>
                        <p class="md:text-sm text-lg">Payez avec Mobile Money</p>
                    </div>
                    <input type="radio" name="paiement" id="machine" class="cursor-pointer accent-green-600">
                </div>
                <button type="submit"
                    class="pm bg-green-700 w-[67%] text-white font-bold md:ml-20 ml-16 md:text-lg text-xl cursor-pointer h-[7vh] rounded-xl">Passer
                    au
                    paiement</button>
            </div>
        </section>
    </section>
    <section
        class="sp  fixed w-full h-screen backdrop-blur-md bg-black/20 top-0 hidden z-30   justify-center items-center">
        <div class="lala bg-white w-[450px] md:h-[76vh] h-[75vh] rounded-3xl shadow-2xl p-4 relative">
            <div class="flex flex-col items-center">
                <div class="w-16 h-16 rounded-full bg-green-600 flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 20 20">
                        <path d="M0 0h20v20H0z" fill="none" />
                        <path fill="#fff" d="m14.83 4.89l1.34.94l-5.81 8.38H9.02L5.78 9.67l1.34-1.25l2.57 2.4z" />
                    </svg>

                </div>
                <h2 class="md:text-3xl text-4xl font-bold mt-3">Merci !</h2>
                <p class="text-gray-500 md:text-base text-lg">Pour votre commande</p>
                <div class="flex justify-between items-center pt-3 w-[95%]">
                    <p class="text-gray-500 md:text-base text-lg">Addresse de livraison:</p>
                    <p class="addr text-gray-500 md:text-sm text-base"></p>
                </div>
                <div class="flex justify-between items-center pt-2 w-[95%]">
                    <span class="text-gray-500 md:text-base text-lg">Methode de paiment: </span>
                    <span class="text-gray-500 md:text-sm text-lg">Paiment a la livraison</span>
                </div>
                <div class="flex justify-between items-center pt-2 w-[94%]">
                    <span class="text-gray-500 md:text-base text-xl">Total: </span>
                    <span class="totaux  text-green-700 md:text-lg text-xl"></span>
                </div>
                <div class="flex justify-between items-center pt-2 w-[95%]">
                    <span class="text-gray-500 md:text-base text-lg">Temps estime: </span>
                    <span class="text-gray-500 md:text-sm text-base">20-50 min</span>
                </div>
                <div
                    class="suite mt-6 bg-green-50 border cursor-pointer border-green-200 rounded-2xl md:w-[80%] w-[85%] h-[10vh] p-2 flex justify-between items-center">
                    <div  class="flex w-[75%]">
                        <div 
                            class="md:w-[15%] md:h-[5vh] w-[17%] h-[6vh] gap-4 bg-white rounded-full flex justify-center items-center">
                            <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <g fill="green" fill-rule="evenodd">
                                    <path
                                        d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                    <path fill="green" fill-rule="nonzero"
                                        d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                                </g>
                            </svg>
                        </div>
                        <h3 class="font-semibold text-green-700 md:text-lg text-lg"> Suivre la commande</h3>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 12 24">
                        <path d="M0 0h12v24H0z" fill="none" />
                        <defs>
                            <path id="SVG1pzpbdYY" fill="gray"
                                d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                        </defs>
                        <use fill-rule="evenodd" href="#SVG1pzpbdYY" transform="rotate(-180 5.02 9.505)" />
                    </svg>

                </div>
                <div class="flex justify-center items-center  gap-3 mt-8 md:w-[89%] w-[93%]">
                    <button id="refus"
                        class="md:w-[40%] w-[44%] bg-green-600 text-white rounded-xl py-3 text-xl hover:bg-gray-300 cursor-pointer">Annuler</button>
                    <button id="envoie"
                        class="md:w-[40%] w-[44%] bg-green-600 text-white rounded-xl py-3 text-xl hover:bg-green-700 cursor-pointer">Valider
                    </button>
                </div>
            </div>
        </div>
        <div id="env" class="lala md:w-[30%] w-[94%]  h-[24vh] bg-white rounded-xl fixed bottom-2 hidden z-50 p-3 ">
            <div>
                <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmls="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <h1 class="font-bold text-lg md:text-base">Felicitation</h1>
            </div>

            <hr class="w-[90%] text-gray-600 mt-2 mb-1">
            <p class="text-lg md:text-base">Votre commande a ete confirme avec succe passe a la page order maintenant
            </p>
        </div>
    </section>
    <section
        class="sm  fixed w-full h-screen backdrop-blur-md z-50 bg-black/20 top-0 hidden justify-center items-center">
        <div class="lala bg-white w-[420px] rounded-2xl shadow-2xl p-6">

            <div class="flex items-center gap-3 border-b pb-4">
                <div class="w-12 h-12 bg-green-100 rounded-full flex items-center justify-center">
                    <svg class="md:block" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="#404040"
                            d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1m-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m4.5-4H7V4h9z" />
                    </svg>
                </div>
                <div>
                    <h2 class="font-bold md:text-xl text-2xl">Paiment Mobile Money</h2>
                    <p class="text-gray-500 md:text-sm text-lg">Entrez votre numero de telephone </p>
                </div>
            </div>
            <div class="mt-6 bg-gray-100 rounded-xl p-4 flex justify-between">
                <span class="text-gray-600 text-lg">Montant</span>
                <span id="tot" class="font-bold text-green-600 text-lg"></span>
            </div>
            <div class="mt-6">
                <label for="" class="font-semibold text-lg">Operateur Mobile Money</label>
                <select name="" id="" class="w-full mt-2 border rounded-xl p-3 outline-none focus:border-gray-500">
                    <option value="">Choisir un operateur </option>
                    <option value="">Limucash</option>
                    <option value="">EcoCash</option>
                    <option value="">M-Pesa</option>
                </select>
            </div>
            <div class="mt-5">
                <label for="" class="font-semibold text-lg">Numero de telephone</label>
                <input type="tel" name="" id="telv" placeholder="+257 6X XX XX XX" maxlength="8"
                    class="w-full mt-2 border rounded-xl p-3 outline-none focus:border-green-500">
            </div>
            <div class="flex gap-3 mt-8">
                <button id="reff"
                    class="w-1/2 bg-green-600 text-white rounded-xl py-3 text-lg hover:bg-gray-300 cursor-pointer">Annuler</button>
                <button id="envi"
                    class="w-1/2 bg-green-600 text-white rounded-xl text-lg py-3 hover:bg-green-700 cursor-pointer">Payer
                    maintenant</button>
            </div>
        </div>
        <div id="envv" class="lala md:w-[30%] w-[94%]  h-[24vh] bg-white rounded-xl fixed bottom-2 hidden z-50 p-3 ">
            <div>
                <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmls="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <h1 class="font-bold text-lg md:text-base">Felicitation</h1>
            </div>

            <hr class="w-[90%] text-gray-600 mt-2 mb-1">
            <p class="text-lg md:text-base">Paiment effectue avec succes,merci Pour votre commande
            </p>
        </div>
        <div id="err"
            class="lala md:w-[30%] w-[94%]  h-[24vh] bg-white border-2 border-red-600 rounded-xl fixed bottom-2 hidden flex-col z-50 p-3 ">
            <div>
                <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <g fill="none">
                            <path
                                d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="green"
                                d="m13.299 3.148l8.634 14.954a1.5 1.5 0 0 1-1.299 2.25H3.366a1.5 1.5 0 0 1-1.299-2.25l8.634-14.954c.577-1 2.02-1 2.598 0M12 15a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-7a1 1 0 0 0-.993.883L11 9v4a1 1 0 0 0 1.993.117L13 13V9a1 1 0 0 0-1-1" />
                        </g>
                    </svg>
                </div>
                <h1 class="font-bold text-lg md:text-base">Alert</h1>
            </div>

            <hr class="w-[90%] text-gray-600 mt-2 mb-1">
            <p class="text-lg md:text-base">Veuillez remplir le champ ci-dessous ou bien le mots de passe est incorrect
            </p>
        </div>
        </div>
        <div id="errr"
            class="lala md:w-[30%] w-[94%]  h-[24vh] bg-white border-2 border-red-600 rounded-xl fixed bottom-2 hidden flex-col z-50 p-3 ">
            <div>
                <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <g fill="none">
                            <path
                                d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="#000"
                                d="m13.299 3.148l8.634 14.954a1.5 1.5 0 0 1-1.299 2.25H3.366a1.5 1.5 0 0 1-1.299-2.25l8.634-14.954c.577-1 2.02-1 2.598 0M12 15a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-7a1 1 0 0 0-.993.883L11 9v4a1 1 0 0 0 1.993.117L13 13V9a1 1 0 0 0-1-1" />
                        </g>
                    </svg>
                </div>
                <h1 class="font-bold text-lg md:text-base">Alert</h1>
            </div>

            <hr class="w-[90%] text-gray-600 mt-2 mb-1">
            <p class="text-lg md:text-base">Veuillez insere le numero seulement dans le champ indique
            </p>
        </div>
    </section>

    <script src="/script/client/panier.js"></script>
</body>

</html>