<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../src/output.css" rel="stylesheet">
    <title>MON SITE</title>
</head>

<body class="bg-gray-50">
    <nav
        class="nav md:h-[11vh] h-[13vh] bg-green-800 flex md:justify-between z-0 justify-center items-center pl-4 pr-4 fixed top-[89%] md:top-0 w-full">
        <div
            class="lala md:w-[8%] md:h-[10vh] hidden w-[35%] h-[22vh] shadow-md shadow-white md:flex items-center bg-green-800 justify-center  flex-col rounded-[50%]">
            <p class="md:text-3xl text-2xl text-white font-black  -mb-1">fast</p>
            <div class="flex justify-end w-[80%] md:w-[80%]">
                <!-- ///////// ---logo--- \\\\\\\\\-->
                <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <g fill="#fff" fill-rule="evenodd">
                        <path
                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="#fff" fill-rule="nonzero"
                            d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                    </g>
                </svg>

                <p class="md:text-base text-xl text-white font-black">express</p>
            </div>
        </div>
        <div class="flex justify-center md:gap-4 gap-10 md:w-[30%] w-[98%] h-[12vh]">
            <a href="/views/client/acceuil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// home \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="white"
                        d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1" />
                </svg>
            </a>
            <a href=""
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- box -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M5 21q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675V19q0 .825-.587 1.413T19 21zm.4-15h13.2l-.85-1H6.25zM16 8H8v6.375q0 .575.475.863t.975.037L12 14l2.55 1.275q.5.25.975-.038t.475-.862z" />
                </svg>
            </a>
            <a href="/views/client/panier.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- ///////// cart \\\\\\\\ -->
                <svg class="icc dodo" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff"
                        d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2" />
                </svg>
            </a>
            <a href="/views/client/order.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">

                <!-- //////// oder \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="#fff" fill-rule="evenodd"
                        d="M8.25 7.013V6a3.75 3.75 0 1 1 7.5 0v1.013c1.297.037 2.087.17 2.692.667c.83.68 1.06 1.834 1.523 4.143l.6 3c.664 3.32.996 4.98.096 6.079S18.067 22 14.68 22H9.32c-3.386 0-5.08 0-5.98-1.098s-.568-2.758.096-6.079l.6-3c.462-2.309.693-3.463 1.522-4.143c.606-.496 1.396-.63 2.693-.667M9.75 6a2.25 2.25 0 0 1 4.5 0v1h-4.5zM15 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-5-1a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <a href="/views/client/profil.html"
                class="hover:border-b-4 hover:bg-green-400/20 hover:border-b-white h-[11vh] md:w-[17%] w-[30%] flex justify-center items-center">
                <!-- //////// account \\\\\\\ -->
                <svg class="icc" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path id="ic" fill="black"
                        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                </svg>
            </a>
        </div>
        <div></div>
    </nav>
    <nav
        class="nav md:static w-full fixed top-0 md:hidden flex z-10 items-center md:gap-4 md:pl-5 pl-2 md:pt-28 mb-8 md:h-40 h-20 md:bg-transparent bg-green-800">
        <div
            class=" md:w-[4%] w-[17%] h-[8vh] border border-gray-500 rounded-[50%] bg-gray-100 md:bg-black/20 flex justify-center items-center">
            <!-- //////// account \\\\\\\ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="#707070"
                    d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
            </svg>
        </div>
        <div class=" md:w-[20%] w-[37%] h-[9vh] md:pl-5 pl-3 md:bg-gray-400 flex flex-col justify-center rounded-2xl">
            <p class="pnam font-bold text-lg md:text-black text-white"></p>
            <p class="pbien md:text-black text-white"></p>
        </div>
        <div class="w-[70%] h-[8vh] flex gap-2  justify-end items-center md:pr-0 pr-2">
            <p id="pays"><svg class="md:block hidden" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#e61010" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>
                <svg class="md:hidden block" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 21 21">
                    <path d="M0 0h21v21H0z" fill="none" />
                    <g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(4 2)">
                        <path
                            d="m6.5 16.54l.631-.711Q8.205 14.6 9.064 13.49l.473-.624Q12.5 8.875 12.5 6.533C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033q0 2.342 2.963 6.334l.473.624a55 55 0 0 0 2.564 3.05" />
                        <circle cx="6.5" cy="6.5" r="2.5" />
                    </g>
                </svg>

            </p>
            <p id="local" class="md:text-black text-white font-bold"></p>
            <p id="locale" class="md:text-black text-white font-bold"></p>
        </div>
    </nav>
    <section class="mt-22 flex justify-center items-center">
        <div id="petit" class="lala w-[85%] h-[90vh] bg-white rounded-xl shadow-lg p-6">
            <div id="premier">
                <div class="info flex -mt-2 items-center flex-col justify-center">
                    <div
                        class="md:w-[7%] w-[17%] h-[12vh] border border-gray-500 rounded-[50%] bg-gray-100 md:bg-black/20 flex justify-center items-center">
                        <!-- //////// account \\\\\\\ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#707070"
                                d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                        </svg>
                    </div>
                    <p class="name pame font-bold"></p>
                    <p class="nume pume font-bold"></p>
                </div>
                <h1 class="info text-lg font-bold">MON COMPTE</h1>
                <div id="enregi"
                    class="info lala mt-2 bg-green-50 border cursor-pointer border-green-200 rounded-2xl md:w-[60%] w-[85%] h-[9vh] p-2 flex justify-between items-center">
                    <div class="flex w-[75%] gap-3">
                        <div
                            class="md:w-[8%] md:h-[6vh] w-[17%] h-[6vh] gap-4 bg-black/20 rounded-full flex justify-center items-center">
                            <svg class="md:mb-1 mt-1" xmlns="http://www.w3.org/2000/svg" width="29" height="29"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor"
                                    d="M11 9c0 1.66-1.34 3-3 3s-3-1.34-3-3s1.34-3 3-3s3 1.34 3 3m3 11H2v-2c0-2.21 2.69-4 6-4s6 1.79 6 4m8-6v2h-9v-2m9-4v2h-9V8m9-4v2h-9V4Z" />
                            </svg>

                        </div>
                        <h3 class="font-semibold md:text-lg text-lg"> Mes informations</h3>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 12 24">
                        <path d="M0 0h12v24H0z" fill="none" />
                        <defs>
                            <path id="SVG1pzpbdYY" fill="gray"
                                d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                        </defs>
                        <use fill-rule="evenodd" href="#SVG1pzpbdYY" transform="rotate(-180 5.02 9.505)" />
                    </svg>

                </div>
                <div id="enregid"
                    class="info lala mt-2 bg-green-50 border cursor-pointer border-green-200 rounded-2xl md:w-[60%] w-[85%] h-[9vh] p-2 flex justify-between items-center">
                    <div class="flex w-[75%] gap-3">
                        <div
                            class="md:w-[8%] md:h-[6vh] w-[17%] h-[6vh] gap-4 bg-black/20 rounded-full flex justify-center items-center">
                            <svg class="md:mb-1 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor"
                                    d="M13 3a9 9 0 0 0-9 9H1l4 3.99L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.95 8.95 0 0 0 13 21a9 9 0 0 0 0-18m-1 5v5l4.25 2.52l.77-1.28l-3.52-2.09V8z" />
                            </svg>

                        </div>
                        <h3 class="font-semibold md:text-lg text-lg"> Historique des commandes</h3>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 12 24">
                        <path d="M0 0h12v24H0z" fill="none" />
                        <defs>
                            <path id="SVG1pzpbdYY" fill="gray"
                                d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                        </defs>
                        <use fill-rule="evenodd" href="#SVG1pzpbdYY" transform="rotate(-180 5.02 9.505)" />
                    </svg>

                </div>
                <h1 class="info text-lg font-bold mt-2">PREFERENCE</h1>
                <div
                    class="info  mt-2 cursor-pointer rounded-2xl md:w-[60%] w-[85%] h-[6vh] p-2 flex justify-between items-center">
                    <div class="flex w-[75%] gap-3">
                        <div
                            class="md:w-[8%] md:h-[6vh] w-[17%] h-[6vh] gap-4 bg-black/20 rounded-full flex justify-center items-center">
                            <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor"
                                    d="M12 21q-3.775 0-6.387-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.325-.05.575.088t.4.362t.163.525t-.188.575q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.275-.175.563-.162t.512.137q.25.125.388.375t.087.6q-.35 3.45-2.937 5.725T12 21m0-2q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.163T9.1 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5 12q0 2.9 2.05 4.95T12 19m-.25-6.75" />
                            </svg>

                        </div>
                        <h3 class="font-semibold md:text-lg text-lg"> Mode sombre</h3>

                    </div>
                    <div id="parent" class="w-[10%] h-[5vh] bg-black/20 rounded-3xl flex">
                        <div id="som" class="w-[50%] h-[5vh] rounded-[50%] border border-gray-600 bg-white"></div>
                        <div id="cla" class="w-[50%] h-[5vh] rounded-[50%] border border-gray-600  bg-black  hidden">
                        </div>
                    </div>

                </div>
                <h1 class="info text-lg font-bold mt-2">ASSISTANCE</h1>

                <div
                    class="info lala propo mt-2 bg-green-50 border cursor-pointer border-green-200 rounded-2xl md:w-[60%] w-[85%] h-[9vh] p-2 flex justify-between items-center">
                    <div class="flex w-[75%] gap-3">
                        <div
                            class="md:w-[8%] md:h-[6vh] w-[17%] h-[6vh] gap-4 bg-black/20 rounded-full flex justify-center items-center">
                            <svg class="md:mb-1 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor"
                                    d="M11 9h2V7h-2m1 13c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m-1 15h2v-6h-2z" />
                            </svg>

                        </div>
                        <h3 class="font-semibold md:text-lg text-lg"> A propos</h3>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 12 24">
                        <path d="M0 0h12v24H0z" fill="none" />
                        <defs>
                            <path id="SVG1pzpbdYY" fill="gray"
                                d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                        </defs>
                        <use fill-rule="evenodd" href="#SVG1pzpbdYY" transform="rotate(-180 5.02 9.505)" />
                    </svg>

                </div>
                <div id="sup" class="info flex items-center w-[75%] gap-3">
                    <div class="md:w-[4%] md:h-[5vh] w-[17%] h-[6vh] gap rounded-full flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#da0f0f"
                                d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z" />
                        </svg>


                    </div>
                    <p class="info font-bold text-red-600  mt-3 cursor-pointer">SUPRIMER LE COMPTE</p>
                </div>
                <div id="deco" class="info flex items-center w-[75%] gap-3">
                    <div class="md:w-[4%] md:h-[5vh] w-[17%] h-[6vh] gap rounded-full flex justify-center items-center">
                        <svg class="mt-1 md:block hidden" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                            viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#c4051b"
                                d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-6.287 10.713Q11 16.425 11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17t.713-.288m4 0Q15 16.426 15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17t.713-.288M7 6v13z" />
                        </svg>


                    </div>
                    <p class="info font-bold text-red-600 mt-3 cursor-pointer">DECONNECTION</p>
                </div>

            </div>
            <div class="deux hidden pl-10 ">

                <div class="flex gap-3 mb-6">
                    <svg id="refus" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 32 32">
                        <path d="M0 0h32v32H0z" fill="none" />
                        <path fill="currentColor"
                            d="m10.813 9.28l-6 6l-.72.72l.72.72l6 6l1.406-1.44L7.936 17H28v-2H7.937l4.282-4.28l-1.408-1.44z" />
                    </svg>

                    <h1 class="font-bold text-xl">Historique des commandes</h1>
                </div>
                <div class="w-[80%] h-[50vh] overflow-y-auto no-scrollbar">
                    <table>
                        <thead class="w-full table-fixed border-collapse">
                            <tr class="border-b-2 pb-2 border-b-gray-600 ">
                                <th class="font-bold text-left py-2 px-10">N Commande</th>
                                <th class="font-bold text-left py-2 px-10">Date</th>
                                <th class="font-bold text-left py-2 px-10">Prix total</th>
                                <th class="font-bold text-left py-2 px-10">Paiment</th>
                                <th class="font-bold text-left py-2 px-10">Statut</th>
                            </tr>
                        </thead>
                        <tbody class="tbo w-[95%]">

                        </tbody>
                    </table>
                    <div></div>
                </div>
                <div id="modal"
                    class="hidden fixed inset-0 z-50 bg-black/20 backdrop-blur-2xl overflow-y-auto no-scrollbar flex items-center justify-center">
                    <div class="lala bg-white rounded-lg p-6 max-w-md w-full">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-lg font-bold">Details du commande</h2>
                            <span id="closemodal" class="cursor-pointer text-4xl">&times;</span>
                        </div>
                        <div id="modcont"></div>
                    </div>
                </div>
            </div>
            <div class="one hidden">
                <div class="flex gap-3 mb-4">
                    <svg id="reff" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                        viewBox="0 0 32 32">
                        <path d="M0 0h32v32H0z" fill="none" />
                        <path fill="currentColor"
                            d="m10.813 9.28l-6 6l-.72.72l.72.72l6 6l1.406-1.44L7.936 17H28v-2H7.937l4.282-4.28l-1.408-1.44z" />
                    </svg>
                    <h1 class="font-bold text-xl">Mes informations</h1>
                </div>
                <div class="flex  mb-8 items-center flex-col justify-center">
                    <div
                        class="md:w-[7%] w-[17%] h-[12vh] border border-gray-500 rounded-[50%] bg-gray-100 md:bg-black/20 flex justify-center items-center">
                        <!-- //////// account \\\\\\\ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#707070"
                                d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                        </svg>
                    </div>
                    <p class="name pame font-bold"></p>
                    <p class="nume pume font-bold"></p>
                </div>
                <div>
                    <div
                        class=" mt-2 border-2 border-gray-200 rounded-2xl md:w-[53%] w-[85%] h-[12vh] p-2 flex justify-between items-center">
                        <div class="flex w-[75%] gap-6 pl-4">
                            <div
                                class="md:w-[8%] md:h-[5vh] mt-2 w-[17%] h-[6vh] gap-4 bg-white rounded-full flex justify-center items-center">
                                <!-- //////// account \\\\\\\ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="#707070"
                                        d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
                                </svg>
                            </div>
                            <div>
                                <h3 class="font-semibold text-gray-500"> Nom</h3>
                                <p class="nom pame font-bold text-lg"></p>
                            </div>

                        </div>
                        <p></p>

                    </div>
                    <div
                        class=" mt-2 border-2 border-gray-200 rounded-2xl md:w-[53%] w-[85%] h-[12vh] p-2 flex justify-between items-center">
                        <div class="flex w-[75%] gap-6 pl-4">
                            <div
                                class="md:w-[8%] md:h-[5vh] mt-2 w-[17%] h-[6vh] gap-4 bg-white rounded-full flex justify-center items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="black"
                                        d="M19.5 22a1.5 1.5 0 0 0 1.5-1.5V17a1.5 1.5 0 0 0-1.5-1.5c-1.17 0-2.32-.18-3.42-.55a1.51 1.51 0 0 0-1.52.37l-1.44 1.44a14.77 14.77 0 0 1-5.89-5.89l1.43-1.43c.41-.39.56-.97.38-1.53c-.36-1.09-.54-2.24-.54-3.41A1.5 1.5 0 0 0 7 3H3.5A1.5 1.5 0 0 0 2 4.5C2 14.15 9.85 22 19.5 22M3.5 4H7a.5.5 0 0 1 .5.5c0 1.28.2 2.53.59 3.72c.05.14.04.34-.12.5L6 10.68c1.65 3.23 4.07 5.65 7.31 7.32l1.95-1.97c.14-.14.33-.18.51-.13c1.2.4 2.45.6 3.73.6a.5.5 0 0 1 .5.5v3.5a.5.5 0 0 1-.5.5C10.4 21 3 13.6 3 4.5a.5.5 0 0 1 .5-.5" />
                                </svg>


                            </div>
                            <div>
                                <h3 class="font-semibold text-gray-500"> Numero de telephone</h3>
                                <p class="num pume font-bold text-lg"></p>
                            </div>

                        </div>
                        <p></p>

                    </div>
                    <div
                        class="cord mt-2 border-2 cursor-pointer border-gray-200 rounded-2xl md:w-[53%] w-[85%] h-[11vh] p-2 flex justify-between items-center">
                        <div class="flex w-[75%] gap-5 pl-5">
                            <div
                                class="md:w-[8%] md:h-[5vh] w-[17%] h-[6vh] gap-4 bg-white rounded-full flex justify-center items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path fill="black"
                                        d="m21.7 13.58l-1.28-1.28a.55.55 0 0 0-.77 0l-1 1l2.05 2.05l1-1a.55.55 0 0 0 0-.77M12 22h2.06l6.05-6.07l-2.05-2.05L12 19.94zm-2-1H5c-.53 0-1.04-.21-1.41-.59C3.21 20.04 3 19.53 3 19V5c0-.53.21-1.04.59-1.41C3.96 3.21 4.47 3 5 3h14a2 2 0 0 1 2 2v5.33a2.57 2.57 0 0 0-2 .03V5H5v14h5.11l-.11.11zm4.62-6.5L12.11 17H7.5v-.75c0-1.5 3-2.25 4.5-2.25c.7 0 1.73.16 2.62.5m-1.03-2.91c-.42.41-.99.66-1.59.66s-1.17-.25-1.59-.66A2.3 2.3 0 0 1 9.75 10c0-.6.25-1.17.66-1.59c.42-.41.99-.66 1.59-.66s1.17.25 1.59.66c.41.42.66.99.66 1.59s-.25 1.17-.66 1.59" />
                                </svg>

                            </div>
                            <h3 class="font-semibold md:text-lg text-lg">Modifier vos informations </h3>

                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 12 24">
                            <path d="M0 0h12v24H0z" fill="none" />
                            <defs>
                                <path id="SVG1pzpbdYY" fill="gray"
                                    d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                            </defs>
                            <use fill-rule="evenodd" href="#SVG1pzpbdYY" transform="rotate(-180 5.02 9.505)" />
                        </svg>

                    </div>
                </div>
                <div id="coo"
                    class=" hidden fixed inset-0 z-50 bg-black/20 backdrop-blur-2xl overflow-y-auto no-scrollbar items-center justify-center">
                    <div
                        class="lala bg-white rounded-lg p-6 max-w-md w-full flex  flex-col justify-center items-center relative">
                        <span id="closemo" class="cursor-pointer text-4xl absolute right-4 top-2">&times;</span>
                        <h1 class="font-bold text-lg mb-2 mt-5">Modufier vos informations</h1>
                        <hr class="w-[70%] border- border-gray-600 mb-4">
                        <form action=""
                            class="md:w-[90%] w-full  md:mb-6 mb-3  flex flex-col gap-5 items-center justify-center">
                            <input type="text" name="username" id="name" placeholder="votre nom" required
                                class="ipnt border-green-900  border w-[80%] h-[8vh] rounded-xl p-3">
                            <div class="w-[81%]">
                                <input type="" name="number" id="number" placeholder="votre numero de Telephone"
                                    required class="ipnt  border-green-900 border rounded-xl w-[99%] h-[8vh] p-3">
                                <p class="md:text-[13px] text-[14px] text-gray-500">Veuillez commence par votre code de
                                    votre
                                    pays</p>
                            </div>

                            <input type="password" name="password" placeholder="votre mot de pass" required
                                id="password" class="ipnt border-green-900 border rounded-xl w-[80%] h-[8vh] p-3">

                        </form>
                        <button type="button" id="bntsi"
                            class="md:w-[47%] w-[60%] md:h-[8vh] h-[9vh] rounded-xl cursor-pointer flex justify-center items-center text-white font-bold md:text-xl text-lg uppercase bg-green-900">
                            Valider</button>
                    </div>
                </div>

            </div>
            <div class="prop z-50 hidden">
                <div class="flex w-[75%] gap-5 pl-5 mb-3">
                    <div
                        class="md:w-[7%] md:h-[5vh] w-[17%] h-[6vh] gap-4 rounded-full flex justify-center items-center">
                        <svg id="refff" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="2em"
                            height="2em" viewBox="0 0 32 32">
                            <path d="M0 0h32v32H0z" fill="none" />
                            <path fill="currentColor"
                                d="m10.813 9.28l-6 6l-.72.72l.72.72l6 6l1.406-1.44L7.936 17H28v-2H7.937l4.282-4.28l-1.408-1.44z" />
                        </svg>
                    </div>
                    <h3 class="font-semibold md:text-lg text-lg">A propos </h3>

                </div>
                <div class="w-[99%] flex justify-center items-center flex-col">
                    <div
                        class="lala md:w-[11%] md:h-[17vh] w-[35%] mb-3 h-[18vh] shadow-md shadow-gray-500 flex items-center bg-white justify-center  flex-col rounded-[50%]">
                        <p class="lll md:text-3xl text-2xl font-black text-green-900 -mb-1">fast</p>
                        <div class="flex justify-end w-[80%] md:w-[80%]">
                            <!-- ///////// ---logo--- \\\\\\\\\-->
                            <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <g fill="none" fill-rule="evenodd">
                                    <path
                                        d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                    <path class="ll" fill="#000" fill-rule="nonzero"
                                        d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                                </g>
                            </svg>

                            <p class="md:text-base text-xl font-black">express</p>
                        </div>
                    </div>
                    <h2 class="font-bold">Version 1.0.0</h2>
                    <h2 class="font-bold mb-4">Livraison rapide & simple</h2>
                </div>
                <h1 class="font-bold">NOTRE MISSION</h1>
                <p>Fast express est votre plateforme locale qui connecte les meilleurs Restaurants ,boutiques et
                    services de coursier directement a votre porte .</p>
                <h1 class="font-bold">CONTACT & ENTREPRISE</h1>
                <P>🏢 fast express Technologie Ltd.</P>
                <P>📍 Bujumbura,Burundi</P>
                <P>✉ Conctact@Fastexpress.com</P>
                <div class=" flex justify-center w-[89%]">
                    <p>&copy; 2026 Fast express Inc</p>
                </div>
            </div>

    </section>
    <script src="/script/client/profil.js"></script>
</body>

</html>