<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/output.css" rel="stylesheet">
    <title>MON SITE</title>
</head>

<body>
    <section class="sect bg-green-900 flex flex-col w-full md:h-screen justify-center items-end">
        <div id="ajou" class=" w-full flex md:justify-center md:items-center h-[20vh]">
            <div id="parait"
                class="lala md:w-[30%] w-[94%]  h-[24vh] bg-white border-2 border-red-600 rounded-xl fixed top-2 hidden flex-col z-50 p-3 ">
                <div>
                    <div class="shrink-0 bg-green-100 text-green-500 rounded-full p-2">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                            viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <g fill="none">
                                <path
                                    d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                <path fill="green"
                                    d="m13.299 3.148l8.634 14.954a1.5 1.5 0 0 1-1.299 2.25H3.366a1.5 1.5 0 0 1-1.299-2.25l8.634-14.954c.577-1 2.02-1 2.598 0M12 15a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-7a1 1 0 0 0-.993.883L11 9v4a1 1 0 0 0 1.993.117L13 13V9a1 1 0 0 0-1-1" />
                            </g>
                        </svg>
                    </div>
                    <h1 class="font-bold text-lg md:text-base">Alert</h1>
                </div>

                <hr class="w-[90%] text-gray-600 mt-2 mb-1">
                <p class="text-lg md:text-base">Veuillez remplir le champ ci-dessous ou bien le mots de passe est
                    incorrect
                </p>
            </div>
        </div>
        <section
            class="lala bg-white flex flex-col md:pt-4 pt-5 items-center w-full h-screen md:gap-2 gap-5 rounded-t-[20%] md:rounded-t-[40%]">
            <div
                class="lala md:w-[9%] md:h-[18vh] w-[35%] h-[18vh] shadow-md shadow-gray-500 flex items-center bg-white justify-center  flex-col rounded-[50%]">
                <p class="lll text-3xl font-black text-green-900 -mb-1">fast</p>
                <div class="flex justify-end md:w-[80%]">
                    <!-- ///////// ---logo--- \\\\\\\\\-->
                    <svg class="md:mb-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                        viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <g fill="none" fill-rule="evenodd">
                            <path
                                d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path class="ll" fill="#000" fill-rule="nonzero"
                                d="M14 3a2 2 0 0 1 2 2h3a2 2 0 0 1 2 2v2a2 2 0 0 1-1.51 1.94l2.142 4.996c.264.527.368.985.368 1.564a3.5 3.5 0 0 1-6.663 1.5H9.663a3.5 3.5 0 0 1-6.628-1H3a1 1 0 0 1-1-1V9a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2a2 2 0 1 0 4 0V5h-2a1 1 0 1 1 0-2zM6.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m12 0a1.5 1.5 0 1 0 1.5 1.5c0-.811-.685-1.5-1.5-1.5m-1.16-5H16a4 4 0 0 1-7.465 2H4v2.05A3.5 3.5 0 0 1 9.965 17h5.07c.25-1.749 1.83-3.06 3.592-2.998L17.341 11ZM8 9H4v2h4zm11-2h-3v2h3z" />
                        </g>
                    </svg>

                    <p class="md:text-base text-2xl font-black">express</p>
                </div>
            </div>
            <p class="lll text-green-900 text-3xl font-bold">se connecter</p>
            <div
                class="flex justify-center items-center flex-col h-[27vh] gap-7 md:border-l-2 md:border-r-2 border-gray-600 md:h-[35vh] md:w-[50%] w-[95%] ">
                <form action="" class="md:w-[80%] w-[95%]  flex flex-col gap-7 items-center justify-center">
                    <input type="" name="number" id="number" placeholder="votre numero de Telephone" required
                        class="ipnt border-green-900 border rounded-xl w-[80%] h-[8vh] p-3">
                    <input type="password" name="password" placeholder="votre mots de pass" required id="password"
                        class="ipnt border-green-900 border rounded-xl w-[80%] h-[8vh] p-3">

                </form>
            </div>
            <a href="/views/sing up.html">
                <p class="lll text-green-900 font-bold md:text-lg text-xl">Creer un nouveau compter</p>
            </a>
            <button type="button" id="bntsi"
                class="md:w-[20%] w-[50%] h-[10vh] rounded-xl cursor-pointer flex justify-center items-center text-white font-bold text-xl uppercase bg-green-900">
                connexion</button>

        </section>
    </section>
    <script src="/script/login.js"></script>
</body>

</html>